* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.vstack {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.items-center {
  align-items: center;
}

.hstack {
  display: flex;
  gap: 1rem;
}

/* button styling */
button {
  color: #213547;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  margin: 0 10px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #0070f3;
}

.result{
  margin-top: 5px;
  text-align: center;
  *{
    margin: 5px 0;
  }
  .item-description{
    font-size: 18px;
  }
}

.template-buttons {
  text-align: center;
  > * {
    margin: 5px;
  }
  button.selected {
    border: 2px solid #007bff;
    background-color: #f8fafa;
  }
}

.selected-items{
  h2{
    margin: 10px 0 8px;
  }
  p{
    margin: 0 0 8px;
    font-size: 21px;
  }
  ul{
    margin: 5px 0 15px;
    list-style: none;
    padding-left: 0;
    li{
      margin: 5px 0;
    }
  }
  input{
    margin: 0 5px;
    padding: 4px;
    font-size: 16px;
    border: thin solid gray;
    border-radius: 5px;
    &:nth-of-type(1){
      width: 130px;
    }
    &:nth-of-type(2){
      width: 50px;
    }
  }
  button{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}
